# This is Git's per-user configuration file.
[user]
	name = dguardia
	email = david.guardia@gmail.com
# Please adapt and uncomment the following lines:
#	name = DAVID GUARDIA
#	email = dguardia@focusvision.com
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
